.App {
  text-align: center;
  }
  form {
  border:2px solid rgb(128, 119, 0);
  padding: 30px;
  }
 
  .App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  }
  .Dob{
    margin: 0.5rem 0
  }
  